# Backend Express & MongoDB Configuration
PORT=5000
JWT_SECRET=book_a_doctor_secret_jwt_key_2026

# MONGODB_URI=mongodb://127.0.0.1:27017/book_a_doctor
# If left blank, server automatically uses Fallback Memory MongoDB with pre-seeded data.
MONGODB_URI=
